<header class="hc-header py-3">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <nav class="nav-container flex-grow-1">
      <ul class="nav nav-pills flex-nowrap justify-content-center" id="navbar">
        <li class="nav-item"><a class="nav-link active" href="/index.html">HOME</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">SERVICES</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Mentorship</a></li>
            <li><a class="dropdown-item" href="#">Contract</a></li>
            <li><a class="dropdown-item" href="#">Collaboration</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="/project.html">PROJECTS</a></li>
        <li class="nav-item"><a class="nav-link" href="/about.html">ABOUT</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact.html">CONTACT</a></li>
      </ul>
    </nav>

    <div class="hc-theme-toggle ms-3">
      <label class="switch">
        <input id="hc-theme-toggle" type="checkbox">
        <span class="slider">
          <span class="star star_1"></span>
          <span class="star star_2"></span>
          <span class="star star_3"></span>
          <svg viewBox="0 0 16 16" class="cloud">
            <path fill="#fff" d="M13.5 6.5a3.5 3.5 0 0 0-6.84-1.08A2.5 2.5 0 0 0 3 8.5a2.5 2.5 0 0 0 2.5 2.5h7A2 2 0 0 0 14.5 9a2 2 0 0 0-1-2.5z"/>
          </svg>
        </span>
      </label>
    </div>

  </div>
</header>
