<section class="hc-home">
  <div class="cloud-container">
    <!-- Day Cloud -->
    <svg id="day-cloud" class="big-floating-cloud" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
      <path fill="white" stroke="black" stroke-width="0"
        d="M399.3,232.8c0-1.2,0.2-2.4,0.2-3.6c0-64.3-52.8-117.2-116.8-117.2c-46.1,0-85.8,27.9-104.4,67
        c-8.1-4.1-17.1-6.4-26.8-6.4c-29.6,0-54.1,23.7-58.9,52C57.4,236.8,32,268.8,32,308.4c0,49.8,40.1,91.6,89.6,91.6H398
        c45,0,82-38.9,82-84.3C480,270.1,444.6,232.9,399.3,232.8z"/>
    </svg>

    <!-- Night Cloud -->
    <svg id="night-cloud" class="big-floating-cloud" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
      <path fill="#555" stroke="white" stroke-width="0"
        d="M399.3,232.8c0-1.2,0.2-2.4,0.2-3.6c0-64.3-52.8-117.2-116.8-117.2c-46.1,0-85.8,27.9-104.4,67
        c-8.1-4.1-17.1-6.4-26.8-6.4c-29.6,0-54.1,23.7-58.9,52C57.4,236.8,32,268.8,32,308.4c0,49.8,40.1,91.6,89.6,91.6H398
        c45,0,82-38.9,82-84.3C480,270.1,444.6,232.9,399.3,232.8z"/>
    </svg>

    <!-- Content INSIDE cloud -->
    <div class="cloud-content">
      <img
        id="hc-home-logo"
        class="home-logo"
        alt="Happycode Technologies"
        decoding="async"
        loading="eager"
      />

      <div id="hc-home-title" class="home-title"></div>
    </div>
  </div>

  <div class="typewriter-container">
    <span id="hc-home-typewriter" class="typewriter-text">...</span>
  </div>
</section>
